<div [formGroup]="formGroup">
    <zen-input-text [disabled]="false" [showPreview]="true" formControlName="field1" label="pippo" [additionalClasses]="['pippo']" (keyupChange)="onAction($event)" type="password" placeholder="place"></zen-input-text>
    <zen-input-checkbox [disabled]="true" formControlName="field2">labbel text</zen-input-checkbox>
    <zen-input-radio [disabled]="true" formControlName="field3">labbel text</zen-input-radio>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">a</div>
        <div class="col-sm-4">b</div>
        <div class="col-sm-4">c</div>
    </div>
</div>

<div class="container fluid">
    <div class="row">
        <div class="offset-sm-4 col-sm-4">a</div>
        <div class="col-sm-4">b</div>
    </div>
</div>