<div class="container">
    <div class="row flex-align-center" [formGroup]="formGroup">
        <div class="col-sm-4">
            <zen-input-text [disabled]="false" [showPreview]="true" formControlName="field1" label="pippo"
                [additionalClasses]="['pippo']" (keyupChange)="onAction($event)" type="password"
                placeholder="place"></zen-input-text>
        </div>
        <div class="col-sm-4">
            <zen-input-text [disabled]="false" [showPreview]="true" formControlName="field1" label="pippo"
                [additionalClasses]="['pippo']" (keyupChange)="onAction($event)" type="password"
                placeholder="place"></zen-input-text>
        </div>
        <div class="col-sm-4">
            <zen-input-radio [disabled]="false" formControlName="field3">labbel text</zen-input-radio>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-align-center">
        <div class="offset-sm-4 col-sm-4"><zen-input-checkbox [disabled]="false" formControlName="field2">labbel
                text</zen-input-checkbox></div>
        <div class="col-sm-4">
            <zen-button zen-accent label="pippo"></zen-button>
        </div>
    </div>
</div>